@import 'fonts.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

body {
    background: #E5E5E5;
}

/* HEADER START */

.header-content {
    background: url('../images/header-bg.png');
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 62px;
    margin: 30px 0;
    background-color: #fff;
    border-radius: 14px;
}


.header-title {
    color: #464748;
    line-height: 59px;
    font-size: 50px;
    font-family: 'Rubik-Bold';
    width: 332px;
    position: relative;
    z-index: 1;
}

.header-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 53px;
    background: #3FA5D5;
    position: absolute;
    top: 33px;
    z-index: -1;
    /* Регулирует приоритет */

}

.header-description {
    color: #696868;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Rubik-Regular';
    margin: 25px 0;
    width: 314px;
    text-align: justify;
}


.header-link {
    display: block;
    background: #3FA5D5;
    width: 211px;
    text-align: center;
    border-radius: 30px;
    padding: 7px 0;
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Rubik-Regular';
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

/* HEADER END */


/* MAIN START */


.main-card {
    background: #FFFFFF;
    border-radius: 15px;
    width: 255px;
    padding: 32px 18px 19px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-title {
    color: #2A86B1;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Rubik-Bold';
    margin-bottom: 59px;
    height: 40px;
}

.card-icon {
    color: #3FA5D5;
    font-size: 100px;
    margin-bottom: 70px;
}


.card-link {
    display: block;
    background: #3FA5D5;
    width: 219px;
    text-align: center;
    border-radius: 30px;
    padding: 7px 0;
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Rubik-Regular';
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.main-cards {
    display: flex;
    justify-content: space-between;
}

.info-title {
    color: #686868;
    line-height: 24px;
    font-size: 20px;
    font-family: 'Rubik-Bold';
    margin-bottom: 22px;
    margin-left: 18px;
}

.main-info {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.left-description {
    color: #545454;
    text-align: justify;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Rubik-Regular';
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    width: 795px;
}

.right-card {
    background: #FFFFFF;
    border-radius: 8px;
    width: 255px;
    margin-bottom: 15px;
    display: flex;
}

.right-img {
    margin: 20px 15px;
}

.right-title {
    color: #323232;
    line-height: 94.5%;
    font-size: 17px;
    font-family: 'Rubik-Regular';
    margin-top: 15px;
    margin-bottom: 5px;
}

.right-description {
    color: #000000;
    line-height: 94.5%;
    font-size: 14px;
    font-family: 'Rubik-Light';
}

.main {
    padding-bottom: 44px;
}

/* MAIN END */

/* FOOTER START */


.footer {
    background: #3FA5D5;
    padding: 40px 0;
}


.footer-title {
    color: #FFFFFF;
    line-height: 59px;
    font-size: 50px;
    font-family: 'Rubik-Bold';
}

.footer-tel {
    display: block;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Rubik-Bold';
    margin-bottom: 15px;
}

.footer-mail {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Rubik-Regular';
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER END */

/* ASIDE START */


.aside {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* Скрывает элементы которые находятся за родителем */
    transition: 0.5s;
}


.logo {
    display: block;
    margin: 30px 20px 0 20px;
}

.aside-list {
    margin-left: 30px;
}

.list-icon {
    color: #939393;
    font-size: 40px;
    margin-right: 35px;
    transition: 0.5s;
}

.list-link {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    color: #939393;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Rubik-Regular';
    transition: 0.5s;
}

.avatar {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.aside:hover {
    width: 234px;
}

.list-link:hover {
    color: #2A86B1;
}

.list-icon:hover {
    color: #2A86B1;
}

/* ASIDE END */

/* MEDIA START */

@media(max-width: 1470px) {
    .aside {
        flex-direction: row;
        width: 100%;
        height: 100px;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
    }

    .aside:hover {
        width: 100%;
        height: 100px;
    }

    .aside-list {
        display: flex;
    }

    .list-link {
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
        margin-bottom: 0;
    }

    .list-icon {
        margin-right: 0;
    }

    .logo,
    .avatar {
        margin: 0;
    }
}


@media(max-width: 1050px) {
    .main-cards {
        flex-wrap: wrap;
    }

    .main-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .right-card {
        max-width: 795px;
        width: 100%;
        align-items: center;
    }

    .right-title {
        margin-top: 0;
    }

    .footer-content {
        justify-content: space-around;
    }

    .right-description {
        max-width: 343px;
        width: 100%;
    }

    .left-description {
        max-width: 795px;
        width: 100%;
    }
}


@media(max-width: 1019px) {
    .main-cards {
        justify-content: space-around;
    }

    .main-card:nth-of-type(4) {
        margin-top: 15px;
    }
}

@media(max-width: 764px) {

    .main-card:nth-of-type(3) {
        margin-top: 15px;
    }
}

@media(max-width: 529px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        margin-top: 15px;
    }
}

@media(max-width: 564px) {
    .list-link {
        font-size: 15px;
    }

    .list-icon {
        font-size: 20px;
    }

    .avatar {
        width: 45px;
        height: 45px;
    }

    .logo img{
        width: 50px;
        height: 45px;
    }
    .aside{
        flex-wrap: wrap;
        height: 160px;
    }
}

@media(max-width: 509px) {
    .main-card:nth-of-type(2) {
        margin-top: 15px;
    }
}

@media(max-width: 395px) {
    .header-title{
        font-size: 40px;
        line-height: 40px;
        width: auto;
    }
    .footer-title{
        font-size: 40px;
    }
    .header-content{
        padding-left: 0px;
        align-items: center;
    }
    .header-description{
        width: 264px;
        margin: 15px 0;
    }
    .list-link{
        margin-right: 10px;
    }
    .aside-list{
        margin-left: 15px;
    }
}

/* MEDIA END */